<a href="https://colab.research.google.com/github/shabnans/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Shabna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#program to compute area of triangle 
base=int(input("Enter the base of triangle:"))
height=int(input("Enter the height of triangle:")) 
area=0.5*base*height
print("The area is",area,"square units")

In [ ]:
#python code to check the two strings are equal or not 
a=input("enter the first string") 
b=input("enter the second string") 
if a==b: 
  print("Equal") 
elif a!=b: 
  print("NotEqual")

In [ ]:
#program to display name,address,telephone number 
name=input("Enter name:") 
address=input("Enter your address:") 
teleNo=int(input("Enter your telephone number:")) 
print(" ") 
print("Name:",name) 
print("Address:",address) 
print("Telephone No:",teleNo)

In [ ]:
#program to add one to given number 
a=int(input("enter a number"))
a=a+1 
print(a)

In [ ]:
#program to print first name 
b=input("enter your first name") 
print(b)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#program to print name 
name="Shabna"
print("your name is",name)

In [ ]:
#python code to convert celcius to farenheit 
celcius=int(input("Enter the temperature in celcius:"))
farenheit=celcius*1.8+32
print("The temperature in farenheit is",farenheit)

In [ ]:
#program to compute the area of rectangle 
length=int(input("Enter the length:")) 
breadth=int(input("Enter the breadth:")) 
area=length*breadth 
print("The area of rectangle is",area,"square units")

In [ ]:
#program to display the name and age of the user in a sentence 
name=input("Enter your name:") 
age=int(input("Enter your age:")) 
print(name,"is",age,"years old")

In [ ]:
#program to compute area of circle 
radius=int(input("Enter the radius:")) 
area=3.14*radius**2 
print("The area is",area,"square units")

In [ ]:
#python code to find the numberis positive negative or zero 
a=int(input("Enter the number:"))
if a>0: 
 print("number is positive") 
elif a<0: 
 print("number is negative") 
else: 
 print("number is 0")

In [ ]:
#python code to find largest among three numbers 
 
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))
c=int(input("Enter the number:"))
if (a>b)and(a>c):
   print("number a is greater")
elif b>c:
   print("number b is greater") 
else:
   print("number c is greater")

In [ ]:
#python code to compute the area of triangle 
base=int(input("Enter the base:")) 
height=int(input("Enter the height:")) 
area=0.5*base*height 
print("The area is",area,"square units")

In [ ]:
#python code to find the square root 
a=int(input("Enter the number:")) 
a=a**.5
print(a)

In [ ]:
#python code to add two number 
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:")) 
sum=a+b
print(sum)